{
  "openapi": "3.1.0",
  "info": {
    "title": "Octen API",
    "description": "Octen API provides Broad Search, Web Search, Image Search, Video Search, Extract, Embeddings, VL Embeddings, Answer, and Deep Research services. The Web Search API searches ranked web results with optional filters, highlights, and full content. The Image Search API searches for images from a text query or an image, with an optional design mode that returns a structured summary and a reusable HTML snippet for each result. The Video Search API searches for videos from a text query. The Broad Search API decomposes a query into multiple sub-queries, searches them in parallel, and returns results grouped by sub-query. The Extract API extracts clean content from URLs, with optional query-focused highlights, page classification, and multimedia resources. The Embeddings API converts text into vector representations. The VL Embeddings API converts multimodal inputs into vector representations. The Answer API decomposes queries into multiple sub-queries for comprehensive search and synthesis. The Deep Research API runs a multi-round adaptive research pipeline that produces a structured research plan, executes iterative searches, and streams a final long-form report.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.octen.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Web Search",
        "description": "Searches the live web and returns ranked results with model-ready highlights and optional full content. Optional filters narrow sources, time windows, and languages.",
        "operationId": "search",
        "security": [
          {
            "bearerAuthNoPayment": []
          },
          {
            "apiKeyAuthNoPayment": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/search",
          "metadata": {
            "title": "Web Search",
            "sidebarTitle": "Web Search"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic Search",
                  "value": {
                    "query": "What record did Kendrick Lamar break at the 2026 Grammy Awards?",
                    "count": 5
                  }
                },
                "domainFiltering": {
                  "summary": "Domain Filtering + Time Range + Highlights",
                  "value": {
                    "query": "summary judgment",
                    "count": 10,
                    "time_basis": "published",
                    "start_time": "2024-01-01T00:00:00+08:00",
                    "end_time": "2025-01-01T00:00:00+08:00",
                    "include_domains": [
                      "uscourts.gov"
                    ],
                    "highlight": {
                      "enable": true,
                      "max_tokens": 300
                    },
                    "full_content": {
                      "enable": false
                    },
                    "format": "text"
                  }
                },
                "fullContent": {
                  "summary": "Full Content Enabled",
                  "value": {
                    "query": "latest WHO guidance on influenza vaccination",
                    "count": 5,
                    "full_content": {
                      "enable": true,
                      "max_tokens": 1000
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "request_id": "req_abc123def456",
                  "data": {
                    "query": "latest WHO guidance on influenza vaccination",
                    "results": [
                      {
                        "title": "Influenza (Seasonal) - World Health Organization (WHO)",
                        "url": "https://www.who.int/news-room/fact-sheets/detail/influenza-(seasonal)",
                        "highlight": "WHO recommends annual vaccination for high-risk groups\n\n...\n\nSeasonal influenza vaccination policies vary by region...",
                        "authors": "World Health Organization",
                        "time_published": "2024-10-15T00:00:00Z",
                        "time_last_crawled": "2026-01-20T02:12:34Z",
                        "favicon": "https://www.who.int/favicon.ico",
                        "cover_image": {
                          "url": "https://www.who.int/images/default-source/influenza/seasonal-influenza-cover.jpg",
                          "description": "Seasonal influenza vaccination"
                        },
                        "images": [
                          {
                            "url": "https://www.who.int/images/default-source/influenza/influenza-vaccine-vial.jpg",
                            "description": "A vial of seasonal influenza vaccine."
                          }
                        ]
                      }
                    ]
                  },
                  "meta": {
                    "usage": {
                      "num_search_queries": 1,
                      "full_content_extra_count": 0
                    },
                    "latency": 237,
                    "warning": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter query — Returned when a required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Missing parameter query",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/news-search": {
      "post": {
        "summary": "News Search",
        "description": "Searches live news and returns ranked articles with model-ready highlights, images, and optional full content. Related articles are also grouped into subjects, each with a summary, a representative article, and its own timeline.",
        "operationId": "news-search",
        "security": [
          {
            "bearerAuthNoPayment": []
          },
          {
            "apiKeyAuthNoPayment": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/news-search",
          "metadata": {
            "title": "News Search",
            "sidebarTitle": "News Search"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsSearchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic News Search",
                  "value": {
                    "query": "Federal Reserve interest rate decision",
                    "count": 5
                  }
                },
                "subjects": {
                  "summary": "Subject Grouping",
                  "value": {
                    "query": "Federal Reserve interest rate decision",
                    "count": 5,
                    "subjects": {
                      "enable": true,
                      "count": 3,
                      "max_sub_news": 5
                    }
                  }
                },
                "filtering": {
                  "summary": "Domain Filtering + Time Range + Language",
                  "value": {
                    "query": "semiconductor export controls",
                    "count": 10,
                    "include_domains": [
                      "reuters.com"
                    ],
                    "language": [
                      "en"
                    ],
                    "time_basis": "published",
                    "start_time": "2026-08-22T00:00:00Z",
                    "end_time": "2026-08-24T00:00:00Z",
                    "highlight": {
                      "enable": true,
                      "max_tokens": 300
                    },
                    "subjects": {
                      "enable": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful news search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "request_id": "req_abc123def456",
                  "data": {
                    "query": "Federal Reserve interest rate decision",
                    "results": [
                      {
                        "title": "Federal Reserve raises interest rates by 25 basis points",
                        "url": "https://www.example-news.com/markets/fed-raises-rates",
                        "highlight": "The committee voted unanimously to lift the benchmark rate to a range of 3.75% to 4.00%...",
                        "authors": "Example News",
                        "time_published": "2026-09-15T15:32:37Z",
                        "time_last_crawled": "2026-09-15T18:04:11Z",
                        "favicon": "https://www.example-news.com/favicon.ico",
                        "cover_image": {
                          "url": "https://cdn.example-news.com/2026/09/fed-building.png",
                          "description": "The Federal Reserve building in Washington."
                        },
                        "images": [
                          {
                            "url": "https://cdn.example-news.com/2026/09/trading-floor.png",
                            "description": "A trading floor after the announcement."
                          }
                        ]
                      }
                    ],
                    "subjects": [
                      {
                        "name": "Federal Reserve raises interest rates in first hike since 2023",
                        "summary": "The Federal Reserve voted unanimously to raise its benchmark rate by 25 basis points, the first increase since 2023, citing persistent inflation.",
                        "time_start": "2026-09-15T05:53:22Z",
                        "time_latest": "2026-09-15T15:32:37Z",
                        "top_news": {
                          "title": "Fed delivers first rate hike in years with unanimous vote",
                          "url": "https://www.example-news.com/markets/fed-first-hike",
                          "summary": "Policymakers raised the benchmark rate by a quarter point and signaled that further increases depend on incoming inflation data.",
                          "highlight": "Every voting member backed the increase, an unusual show of consensus...",
                          "authors": "Example News",
                          "time_published": "2026-09-15T15:32:37Z",
                          "time_last_crawled": "2026-09-15T18:04:11Z",
                          "favicon": "https://www.example-news.com/favicon.ico",
                          "cover_image": {
                            "url": "https://cdn.example-news.com/2026/09/fed-press-conference.png",
                            "description": "The chair speaking at the post-meeting press conference."
                          },
                          "images": []
                        },
                        "sub_news": [
                          {
                            "title": "Mortgage rates climb after the Fed announcement",
                            "url": "https://www.example-news.com/markets/mortgage-rates-climb",
                            "highlight": "Lenders repriced within hours of the decision...",
                            "authors": "Example News",
                            "time_published": "2026-09-15T09:11:02Z",
                            "time_last_crawled": "2026-09-15T12:40:55Z",
                            "favicon": "https://www.example-news.com/favicon.ico",
                            "cover_image": {
                              "url": "https://cdn.example-news.com/2026/09/mortgage-rates.png",
                              "description": "A chart of average mortgage rates."
                            },
                            "images": []
                          }
                        ]
                      }
                    ]
                  },
                  "meta": {
                    "usage": {
                      "num_search_queries": 1,
                      "num_subject_search_queries": 1,
                      "full_content_extra_count": 0
                    },
                    "latency": 245,
                    "warning": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Invalid params. Missing parameter query",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/business-search": {
      "post": {
        "summary": "Business Search",
        "description": "Searches the web for business content. The companies and people behind the query are also returned as entity cards.",
        "operationId": "business-search",
        "security": [
          {
            "bearerAuthNoPayment": []
          },
          {
            "apiKeyAuthNoPayment": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/business-search",
          "metadata": {
            "title": "Business Search",
            "sidebarTitle": "Business Search"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSearchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic Business Search",
                  "value": {
                    "query": "NVIDIA quarterly results",
                    "count": 5
                  }
                },
                "entities": {
                  "summary": "Entity Cards",
                  "value": {
                    "query": "NVIDIA quarterly results",
                    "count": 5,
                    "entities": {
                      "enable": true,
                      "count": 2,
                      "max_activities": 5
                    }
                  }
                },
                "filtering": {
                  "summary": "Domain Filtering + Time Range + Language",
                  "value": {
                    "query": "semiconductor export controls",
                    "count": 10,
                    "include_domains": [
                      "reuters.com"
                    ],
                    "language": [
                      "en"
                    ],
                    "time_basis": "published",
                    "start_time": "2026-08-22T00:00:00Z",
                    "end_time": "2026-08-24T00:00:00Z",
                    "highlight": {
                      "enable": true,
                      "max_tokens": 300
                    },
                    "entities": {
                      "enable": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful business search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessSearchResponse"
                },
                "examples": {
                  "company": {
                    "summary": "Company Entity",
                    "value": {
                      "code": 0,
                      "msg": "success",
                      "request_id": "req_abc123def456",
                      "data": {
                        "query": "NVIDIA quarterly results",
                        "results": [
                          {
                            "title": "NVIDIA Announces Financial Results for Fourth Quarter and Fiscal 2026 | NVIDIA Newsroom",
                            "url": "https://nvidianews.nvidia.com/news/nvidia-announces-financial-results-for-fourth-quarter-and-fiscal-2026",
                            "highlight": "NVIDIA (NASDAQ: NVDA) today reported record revenue for the fourth quarter ended January 25, 2026...",
                            "time_published": "2026-02-25T00:00:00Z",
                            "time_last_crawled": "2026-09-23T01:25:05Z",
                            "favicon": "https://nvidianews.nvidia.com/media/sites/219/images/itouch.png",
                            "cover_image": {
                              "url": "https://iprsoftwaremedia.com/219/files/20224/DH1L4415-HDR-20220527-r5-prv.jpg",
                              "description": "NVIDIA Voyager"
                            }
                          }
                        ],
                        "entities": [
                          {
                            "type": "company",
                            "name": "NVIDIA",
                            "summary": "Since its founding in 1993, NVIDIA (NASDAQ: NVDA) has been a pioneer in accelerated computing. The company's invention of the GPU in 1999 sparked the growth of the PC gaming market, redefined computer graphics, ignited the era of modern AI and is fueling the creation of the metaverse.",
                            "aliases": [
                              "nvidia",
                              "nvidia corporation"
                            ],
                            "identifiers": {
                              "website": "nvidia.com",
                              "linkedin_url": "https://www.linkedin.com/company/nvidia",
                              "stock_ticker": "NASDAQ:NVDA",
                              "sec_cik": "0001045810"
                            },
                            "attributes": {
                              "industry": "Computer Hardware Manufacturing",
                              "hq_location": "2701 San Tomas Expressway, Santa Clara, CA 95050, US",
                              "founded_year": 1993
                            },
                            "metrics": {
                              "financials": [
                                {
                                  "revenue": 81615003648,
                                  "net_income": 58320998400,
                                  "gross_profit": 61156999168,
                                  "period": "Q1, 2027",
                                  "currency": "USD"
                                },
                                {
                                  "revenue": 215938007040,
                                  "net_income": 120066998272,
                                  "gross_profit": 153462996992,
                                  "period": "FY, 2026",
                                  "currency": "USD"
                                }
                              ],
                              "stock": {
                                "price": 230.43,
                                "todays_change_percent": 2.381478132712727,
                                "week_52_high": 236.53999,
                                "week_52_low": 164.27,
                                "date": "2026-09-28",
                                "currency": "USD"
                              },
                              "web_traffic": {
                                "visits_monthly": 38505903,
                                "rank": 903,
                                "period": "2026-08"
                              }
                            },
                            "key_people": [
                              {
                                "name": "Jensen Huang",
                                "title": "Founder and CEO"
                              },
                              {
                                "name": "Colette Kress",
                                "title": "EVP CFO"
                              }
                            ],
                            "logo": {
                              "url": "https://media.licdn.com/dms/image/v2/D560BAQGV36q2EowSyw/company-logo_200_200/0/1724881581208/nvidia_logo"
                            },
                            "activities": [
                              {
                                "title": "AI is technology that is built and improved by people, who have a responsibility to develop and deploy it thoughtfully.",
                                "url": "https://www.linkedin.com/feed/update/urn:li:activity:7508569677040893954/",
                                "highlight": "And helping people benefit from AI means taking its challenges seriously. The technology industry needs to do that work...",
                                "authors": "NVIDIA",
                                "time_published": "2026-09-23T16:55:13Z"
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "usage": {
                          "num_search_queries": 1
                        },
                        "latency": 235,
                        "warning": ""
                      }
                    }
                  },
                  "person": {
                    "summary": "Person Entity",
                    "value": {
                      "code": 0,
                      "msg": "success",
                      "request_id": "req_abc123def456",
                      "data": {
                        "query": "Jensen Huang NVIDIA CEO",
                        "results": [
                          {
                            "title": "Jensen Huang | NVIDIA",
                            "url": "https://nvidia.com/en-eu/about-nvidia/governance/management-team/jensen-huang",
                            "highlight": "Jensen Huang founded NVIDIA in 1993 and has served since its inception as president, chief executive officer and a member of the board of directors...",
                            "time_last_crawled": "2026-08-21T06:13:33Z",
                            "images": [
                              {
                                "url": "https://nvidia.com/content/dam/en-zz/Solutions/about-nvidia/management-team/jensen-huang.jpg",
                                "description": "Jensen Huang"
                              }
                            ]
                          }
                        ],
                        "entities": [
                          {
                            "type": "person",
                            "name": "Jensen Huang",
                            "summary": "In 1993, I founded NVIDIA with Chris Malachowsky and Curtis Priem to solve the problem of 3D graphics for the PC. Our pioneering work in accelerated computing led to the redefinition of modern computer graphics and the creation of modern AI...",
                            "linkedin_url": "https://www.linkedin.com/in/jenhsunhuang",
                            "current_position": "Founder and CEO, NVIDIA",
                            "career": [
                              {
                                "organization": "NVIDIA",
                                "title": "Founder and CEO",
                                "start": "1993"
                              }
                            ],
                            "photo": {
                              "url": "https://media.licdn.com/dms/image/v2/D5603AQEM7Pb1ndhi0Q/profile-displayphoto-scale_200_200/0/1765583176636/jensen_huang"
                            },
                            "activities": [
                              {
                                "title": "AI factories are the defining infrastructure of the AI era. In the AI economy, compute is revenue.",
                                "url": "https://www.linkedin.com/posts/jenhsunhuang_securing-the-infrastructure-of-intelligence-activity-7495098872218701824-QY2V",
                                "highlight": "AI factories are the defining infrastructure of the AI era. In the AI economy, compute is revenue.",
                                "authors": "Jensen Huang",
                                "time_published": "2026-08-17T12:47:03Z",
                                "time_last_crawled": "2026-08-24T14:15:01Z"
                              }
                            ]
                          }
                        ]
                      },
                      "meta": {
                        "usage": {
                          "num_search_queries": 1
                        },
                        "latency": 289,
                        "warning": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Invalid params. Missing parameter query",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/image-search": {
      "post": {
        "summary": "Image Search",
        "operationId": "image-search",
        "description": "Searches the web for images. Setting `topic` to `design` searches design assets and returns a structured `summary` and a reusable `html_snippet`. Contact us to request beta access.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageSearchRequest"
              },
              "examples": {
                "designScenario": {
                  "summary": "Design-asset search",
                  "value": {
                    "inputs": [
                      {
                        "type": "text",
                        "data": "Preview deployments card with dark theme"
                      }
                    ],
                    "topic": "design",
                    "count": 3,
                    "include_domains": [
                      "unkey.dev",
                      "stripe.com",
                      "linear.app"
                    ],
                    "html_snippet": {
                      "enable": true,
                      "max_tokens": 5000
                    }
                  }
                },
                "plainText": {
                  "summary": "Plain text query",
                  "value": {
                    "inputs": [
                      {
                        "type": "text",
                        "data": "DJI Mavic 4 Pro review"
                      }
                    ],
                    "count": 5
                  }
                },
                "imageByUrl": {
                  "summary": "Search by image (image as URL)",
                  "value": {
                    "inputs": [
                      {
                        "type": "image",
                        "url": "https://cdn.example-fashion.com/refs/vintage-dress.jpg"
                      }
                    ],
                    "count": 5
                  }
                },
                "imageByBase64": {
                  "summary": "Search by image (base64 upload)",
                  "value": {
                    "inputs": [
                      {
                        "type": "image",
                        "data": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                      }
                    ],
                    "count": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful image search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSearchResponse"
                },
                "examples": {
                  "general": {
                    "summary": "General image search",
                    "value": {
                      "code": 0,
                      "msg": "success",
                      "request_id": "req_9d1c4f7a2e6b0853",
                      "data": {
                        "results": [
                          {
                            "title": "Scandinavian Minimalist Living Room",
                            "url": "https://images.unsplash.com/photo-scandi-living-room.jpg",
                            "source_page": "https://unsplash.com/photos/scandi-living-room",
                            "description": "A Scandinavian minimalist living room with light wood flooring, an off-white sofa, and greenery; the composition is very close to the uploaded image.",
                            "width": 1920,
                            "height": 1280,
                            "thumbnail": "https://images.unsplash.com/photo-scandi-living-room.jpg?w=200"
                          },
                          {
                            "title": "Minimalist Interior Inspiration",
                            "url": "https://i.pinimg.com/originals/minimal-interior.jpg",
                            "source_page": "https://www.pinterest.com/pin/minimal-interior-inspiration",
                            "description": "Minimalist interior design inspiration; the palette and layout are close to the uploaded image.",
                            "width": 736,
                            "height": 981,
                            "thumbnail": "https://i.pinimg.com/236x/minimal-interior.jpg"
                          }
                        ]
                      },
                      "meta": {
                        "usage": {
                          "num_search_queries": 1
                        },
                        "latency": 642
                      }
                    }
                  },
                  "design": {
                    "summary": "Design-asset search",
                    "value": {
                      "code": 0,
                      "msg": "success",
                      "request_id": "req_5e2a8c0b3d7f1946",
                      "data": {
                        "results": [
                          {
                            "title": "Preview Deployment Card — Unkey",
                            "url": "https://unkey.dev/og/deployments-card-dark.png",
                            "source_page": "https://unkey.dev/docs/deployments",
                            "description": "A dark-themed preview deployment card: a Preview badge and branch name at the top, a preview-domain link in the middle, and a Ready status row at the bottom.",
                            "width": 1200,
                            "height": 630,
                            "thumbnail": "https://unkey.dev/og/deployments-card-dark-thumb.png",
                            "summary": "Category: preview deployment card. Layout: a row with a badge and branch name at the top, a preview-domain link in the middle, and a status row at the bottom. Palette: dark theme, background #0b0b0e, border #1f1f24, Ready green badge #4ade80, link blue #60a5fa. Corner radius: 12px. Tags: dark-theme, card, deployment, preview, status, badge.",
                            "html_snippet": "<div class=\"deploy-card\">\n  <header class=\"deploy-card__top\">\n    <span class=\"deploy-card__badge\">Preview</span>\n    <span class=\"deploy-card__branch\">feat/new-dashboard</span>\n  </header>\n  <a class=\"deploy-card__url\" href=\"#\">preview-3f9a.unkey.dev</a>\n  <div class=\"deploy-card__meta\"><i class=\"dot\"></i>Ready &middot; 2m ago</div>\n</div>\n<style>\n.deploy-card{width:320px;padding:16px;background:#0b0b0e;border:1px solid #1f1f24;border-radius:12px;color:#e6e6e6;font-family:Inter,system-ui,sans-serif}\n.deploy-card__top{display:flex;align-items:center;gap:8px;margin-bottom:10px}\n.deploy-card__badge{padding:2px 8px;border-radius:999px;background:#13261a;color:#4ade80;font-size:12px}\n.deploy-card__branch{color:#9ca3af;font-size:13px}\n.deploy-card__url{display:block;color:#60a5fa;font-size:14px;margin-bottom:8px;text-decoration:none}\n.deploy-card__meta{display:flex;align-items:center;color:#6b7280;font-size:12px}\n.dot{width:6px;height:6px;border-radius:50%;background:#4ade80;margin-right:6px}\n</style>"
                          },
                          {
                            "title": "Deploy Status Card — Linear",
                            "url": "https://linear.app/assets/deploy-status-card-dark.png",
                            "source_page": "https://linear.app/features",
                            "description": "A dark-themed status/progress card: a title and a status pill on opposite ends of a row, with a progress bar below.",
                            "width": 1000,
                            "height": 540,
                            "thumbnail": "https://linear.app/assets/deploy-status-card-dark-thumb.png",
                            "summary": "Category: status / progress card. Layout: a title and a status pill on opposite ends of a row, with a progress bar below. Palette: dark theme, background #101013, progress bar #5e6ad2, amber status pill #f5a623. Corner radius: 10px. Tags: dark-theme, card, status, progress, pill.",
                            "html_snippet": "<div class=\"status-card\">\n  <div class=\"status-card__row\">\n    <span class=\"status-card__title\">Deploy preview</span>\n    <span class=\"status-card__pill\">In progress</span>\n  </div>\n  <div class=\"status-card__bar\"><span></span></div>\n</div>\n<style>\n.status-card{width:300px;padding:14px 16px;background:#101013;border:1px solid #232329;border-radius:10px;font-family:Inter,system-ui,sans-serif}\n.status-card__row{display:flex;justify-content:space-between;align-items:center;margin-bottom:10px}\n.status-card__title{color:#e8e8ea;font-size:14px}\n.status-card__pill{padding:2px 8px;border-radius:999px;background:#2a2118;color:#f5a623;font-size:12px}\n.status-card__bar{height:4px;border-radius:999px;background:#232329;overflow:hidden}\n.status-card__bar span{display:block;width:62%;height:100%;background:#5e6ad2}\n</style>"
                          }
                        ]
                      },
                      "meta": {
                        "usage": {
                          "num_search_queries": 1
                        },
                        "latency": 1342
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter inputs — Returned when a required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Missing parameter inputs",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Input unreadable or invalid — Returned when an input cannot be read or is otherwise invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 422,
                  "msg": "Input unreadable or invalid",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/video-search": {
      "post": {
        "summary": "Video Search",
        "operationId": "video-search",
        "description": "Searches the web for videos from a text query. Contact us to request beta access.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoSearchRequest"
              },
              "examples": {
                "text": {
                  "summary": "Text query",
                  "value": {
                    "inputs": [
                      {
                        "type": "text",
                        "data": "how to make sourdough bread at home"
                      }
                    ],
                    "count": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful video search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoSearchResponse"
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "request_id": "20260627120000001ABCDE12345",
                  "data": {
                    "results": [
                      {
                        "title": "How to Make Sourdough Bread at Home (Beginner's Guide)",
                        "url": "https://videos.example.com/watch/sourdough-beginners-guide.mp4",
                        "source_page": "https://www.example.com/blog/sourdough-beginners-guide",
                        "description": "A step-by-step beginner tutorial covering starter feeding, autolyse, stretch-and-fold, shaping, and baking in a Dutch oven.",
                        "cover_url": "https://cdn.example.com/thumbs/sourdough-beginners-guide.jpg",
                        "duration_seconds": 842,
                        "authors": "The Home Baker",
                        "time_published": "2026-02-14T09:30:00Z",
                        "time_last_crawled": "2026-06-20T11:02:18Z"
                      },
                      {
                        "title": "Easy No-Knead Sourdough for Beginners",
                        "url": "https://videos.example.com/watch/no-knead-sourdough.mp4",
                        "source_page": "https://www.example.com/recipes/no-knead-sourdough",
                        "description": "Demonstrates a simplified no-knead method, from mixing a high-hydration dough to scoring and baking a crusty loaf in a home oven.",
                        "cover_url": "https://cdn.example.com/thumbs/no-knead-sourdough.jpg",
                        "duration_seconds": 615,
                        "authors": "Everyday Sourdough",
                        "time_published": "2026-01-28T17:45:00Z",
                        "time_last_crawled": "2026-06-19T22:14:55Z"
                      }
                    ]
                  },
                  "meta": {
                    "usage": {
                      "num_search_queries": 1
                    },
                    "latency": 482
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter inputs — Returned when a required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Missing parameter inputs",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extract",
        "description": "Extracts clean markdown content from URLs. Supports batch processing, query-focused highlights, page classification, and multimedia resources.",
        "operationId": "extract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic Extract",
                  "value": {
                    "urls": [
                      "https://octen.ai/",
                      "https://docs.octen.ai/api-reference/search"
                    ]
                  }
                },
                "intentQuery": {
                  "summary": "Intent-focused Highlights with Query",
                  "value": {
                    "urls": [
                      "https://www.who.int/news-room/fact-sheets/detail/influenza-(seasonal)"
                    ],
                    "query": "vaccination guidelines"
                  }
                },
                "withMedia": {
                  "summary": "With Multimedia Resources",
                  "value": {
                    "urls": [
                      "https://octen.ai/"
                    ],
                    "include_images": true,
                    "include_videos": true,
                    "include_audio": true
                  }
                },
                "advancedMode": {
                  "summary": "Advanced Mode",
                  "value": {
                    "urls": [
                      "https://x.com/kzouapt"
                    ],
                    "mode": "advanced"
                  }
                },
                "withLinks": {
                  "summary": "With Page Links",
                  "value": {
                    "urls": [
                      "https://octen.ai/"
                    ],
                    "include_links": {
                      "scope": "prefer_internal",
                      "max_links": 200
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful extraction response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "request_id": "req_abc123def456",
                  "data": {
                    "results": [
                      {
                        "url": "https://octen.ai/",
                        "status": "success",
                        "resolved_mode": "standard",
                        "title": "Octen | The Search infrastructure for AI",
                        "full_content": "# Search infrastructure for AI\n\nReal-time indexing | Low latency | High reliability\n\nStart Building | View Docs\n\n## Search Beyond Text\n\nBeyond text queries: Octen's multimodal search understands images and videos alongside text...",
                        "highlights": null,
                        "time_published": null,
                        "time_last_crawled": "2026-07-03T09:35:43Z",
                        "page_structure": {
                          "primary": "Index Page",
                          "secondary": "Home Page"
                        },
                        "category": {
                          "primary": "Computers, Electronics & Technology",
                          "secondary": "Search Engines"
                        },
                        "favicon": "https://octen.ai/favicon.ico",
                        "cover_image": {
                          "url": "https://octen.ai/_next/static/media/octen-cover.dc74905e.png"
                        },
                        "images": [
                          { "url": "https://octen.ai/_next/static/media/multi-modal-img.ccffddff.png" },
                          { "url": "https://octen.ai/_next/static/media/showcase-multimodal1.449ae003.png" }
                        ],
                        "videos": [
                          { "url": "https://octen.ai/static/video/multimodal-video.mp4" }
                        ],
                        "links": [
                          { "url": "https://octen.ai/pricing", "anchor_text": "Pricing", "is_external": false },
                          { "url": "https://docs.octen.ai/overview/welcome", "anchor_text": "View Docs", "is_external": false },
                          { "url": "https://github.com/Octen-Team/octen-skills", "anchor_text": "GitHub", "is_external": true }
                        ]
                      },
                      {
                        "url": "https://docs.octen.ai/api-reference/search",
                        "status": "success",
                        "resolved_mode": "standard",
                        "title": "Search - Octen",
                        "full_content": "# Search API\n\nOcten Search API enables ranked web results with query-focused highlights, time filtering, and multimodal assets...",
                        "highlights": null,
                        "time_published": "2024-10-15T00:00:00Z",
                        "time_last_crawled": "2026-07-03T09:34:29Z",
                        "page_structure": {
                          "primary": "Content Page",
                          "secondary": "Code"
                        },
                        "category": {
                          "primary": "Computers, Electronics & Technology",
                          "secondary": "Search Engines"
                        },
                        "favicon": "https://docs.octen.ai/favicon.ico",
                        "cover_image": {
                          "url": "https://octen.ai/_next/static/media/octen-cover.dc74905e.png"
                        }
                      }
                    ]
                  },
                  "meta": {
                    "usage": {
                      "total_urls": 2,
                      "successful_urls": 2,
                      "successful_by_mode": { "standard_urls": 2, "advanced_urls": 0 }
                    },
                    "latency": 1832,
                    "warning": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid params — Returned when a required parameter is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Invalid params. Missing parameter urls",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/embedding": {
      "post": {
        "summary": "Embedding",
        "description": "Converts text into vector representations. Supports batch input, multiple models, and configurable output dimensions.",
        "operationId": "embedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "examples": {
                "singleInput": {
                  "summary": "Single Input",
                  "value": {
                    "input": [
                      "What is vector search?"
                    ],
                    "model": "octen-embedding-8b",
                    "dimension": 4096,
                    "input_type": "query"
                  }
                },
                "batchInput": {
                  "summary": "Batch Input",
                  "value": {
                    "input": [
                      "Vector databases store embeddings.",
                      "Embeddings enable semantic search."
                    ],
                    "model": "octen-embedding-0.6b",
                    "input_type": "document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful embedding response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "request_id": "req_abc123def456",
                  "data": {
                    "results": [
                      {
                        "index": 0,
                        "embedding": [
                          0.0123,
                          -0.0456,
                          0.0789
                        ]
                      },
                      {
                        "index": 1,
                        "embedding": [
                          -0.0011,
                          0.0234,
                          0.0567
                        ]
                      }
                    ],
                    "model": "octen-embedding-0.6b"
                  },
                  "meta": {
                    "usage": {
                      "input_tokens": 128
                    },
                    "warning": "Input was truncated for one or more items."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameter — Returned when a required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Missing required parameter",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/vl-embedding": {
      "post": {
        "summary": "VL Embedding",
        "description": "Converts multimodal input (text, images, and videos) into vector representations. Supports a single fused vector across modalities, independent per-element vectors, configurable output dimensions, video frame sampling control, and a custom task instruction.",
        "operationId": "vl-embedding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VLEmbeddingRequest"
              },
              "examples": {
                "textOnly": {
                  "summary": "Text Only",
                  "value": {
                    "model": "octen-vl-embedding",
                    "input": {
                      "contents": [
                        {
                          "text": "What is multimodal vector search?"
                        }
                      ]
                    }
                  }
                },
                "multimodalFusion": {
                  "summary": "Multimodal Fusion (text + images + video)",
                  "value": {
                    "model": "octen-vl-embedding-large",
                    "input": {
                      "contents": [
                        {
                          "text": "Outdoor tent, 3-4 person, waterproof and windproof"
                        },
                        {
                          "image": "https://example.com/tent_setup.jpg"
                        },
                        {
                          "image": "https://example.com/tent_inside.jpg"
                        },
                        {
                          "video": "https://example.com/tent_demo.mp4"
                        }
                      ]
                    },
                    "enable_fusion": true,
                    "dimension": 2048,
                    "fps": 0.3,
                    "instruct": "Represent the outdoor product for retrieval"
                  }
                },
                "independentImages": {
                  "summary": "Independent Image Embeddings",
                  "value": {
                    "model": "octen-vl-embedding",
                    "input": {
                      "contents": [
                        {
                          "image": "https://example.com/product_1.jpg"
                        },
                        {
                          "image": "https://example.com/product_2.jpg"
                        }
                      ]
                    },
                    "enable_fusion": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful VL embedding response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VLEmbeddingResponse"
                },
                "examples": {
                  "fusion": {
                    "summary": "Fusion mode response (single fused vector)",
                    "value": {
                      "code": 0,
                      "msg": "success",
                      "request_id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
                      "data": {
                        "results": [
                          {
                            "index": 0,
                            "embedding": [
                              0.0156,
                              -0.0298,
                              0.0411
                            ],
                            "type": "fusion"
                          }
                        ],
                        "model": "octen-vl-embedding-large"
                      },
                      "meta": {
                        "usage": {
                          "input_tokens": 6814,
                          "text_tokens": 18,
                          "image_tokens": 6796,
                          "image_count": 2,
                          "duration": 22
                        },
                        "warning": null
                      }
                    }
                  },
                  "independent": {
                    "summary": "Independent mode response (one vector per element)",
                    "value": {
                      "code": 0,
                      "msg": "success",
                      "request_id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
                      "data": {
                        "results": [
                          {
                            "index": 0,
                            "embedding": [
                              0.0234,
                              -0.0167,
                              0.0389
                            ],
                            "type": "vl"
                          },
                          {
                            "index": 1,
                            "embedding": [
                              -0.0312,
                              0.0445,
                              0.0178
                            ],
                            "type": "vl"
                          },
                          {
                            "index": 2,
                            "embedding": [
                              0.0198,
                              -0.0267,
                              0.0356
                            ],
                            "type": "vl"
                          },
                          {
                            "index": 3,
                            "embedding": [
                              -0.0089,
                              0.0334,
                              -0.0223
                            ],
                            "type": "vl"
                          }
                        ],
                        "model": "octen-vl-embedding-large"
                      },
                      "meta": {
                        "usage": {
                          "input_tokens": 6814,
                          "text_tokens": 18,
                          "image_tokens": 6796,
                          "image_count": 2,
                          "duration": 22
                        },
                        "warning": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameter — Returned when a required parameter is missing or has an invalid value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Missing or invalid parameter",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create a chat completion",
        "description": "Compatible with the OpenAI Chat Completions protocol, with optional built-in `octen_broad_search` and `octen_search` tools.",
        "operationId": "chat-completions",
        "x-mint": {
          "href": "/api-reference/chat-completions",
          "metadata": {
            "title": "LLM Chat (OpenAI-Compatible)",
            "sidebarTitle": "LLM Chat (OpenAI-Compatible)"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "pureModel": {
                  "summary": "Plain model call",
                  "value": {
                    "model": "anthropic/claude-opus-4.8",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Explain attention in one sentence."
                      }
                    ],
                    "stream": false,
                    "max_tokens": 2048,
                    "temperature": 1
                  }
                },
                "withBroadSearch": {
                  "summary": "Built-in broad search tool",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Compare cloud GPU pricing across major providers."
                      }
                    ],
                    "tools": [
                      {
                        "type": "octen_broad_search",
                        "parameters": {
                          "max_queries": 5,
                          "count": 10,
                          "highlight": {
                            "enable": true,
                            "max_tokens": 300
                          },
                          "format": "markdown"
                        }
                      }
                    ],
                    "tool_choice": "auto",
                    "stream": false
                  }
                },
                "withSearch": {
                  "summary": "Built-in search tool",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "What's the weather in Beijing today?"
                      }
                    ],
                    "tools": [
                      {
                        "type": "octen_search",
                        "parameters": {
                          "max_searches": 3,
                          "count": 10,
                          "highlight": {
                            "enable": true,
                            "max_tokens": 300
                          },
                          "format": "markdown"
                        }
                      }
                    ],
                    "tool_choice": "auto",
                    "stream": false
                  }
                },
                "functionAndSearch": {
                  "summary": "Custom function + built-in search",
                  "value": {
                    "model": "openai/gpt-5.5",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Check tomorrow's weather in Shanghai, then create a travel reminder."
                      }
                    ],
                    "tools": [
                      {
                        "type": "octen_search"
                      },
                      {
                        "type": "function",
                        "function": {
                          "name": "create_reminder",
                          "description": "Create a reminder",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "Reminder content"
                              },
                              "time": {
                                "type": "string",
                                "description": "Reminder time, ISO 8601"
                              }
                            },
                            "required": [
                              "content",
                              "time"
                            ]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto"
                  }
                },
                "promptCaching": {
                  "summary": "Prompt caching",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "system",
                        "content": [
                          {
                            "type": "text",
                            "text": "Product manual (long stable prefix)...",
                            "cache_control": {
                              "type": "ephemeral",
                              "ttl": "5m"
                            }
                          }
                        ]
                      },
                      {
                        "role": "user",
                        "content": "What is the return policy?"
                      }
                    ],
                    "max_tokens": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful chat completion. When `stream=false`, returns a single `chat.completion` object. When `stream=true`, returns a stream of `chat.completion.chunk` objects (`search_done`, `content`, `finish`, `usage`), followed by `data: [DONE]`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionChunk"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "object",
                    "mapping": {
                      "chat.completion": "#/components/schemas/ChatCompletionResponse",
                      "chat.completion.chunk": "#/components/schemas/ChatCompletionChunk"
                    }
                  }
                },
                "examples": {
                  "nonStreaming": {
                    "summary": "Non-streaming, plain model call",
                    "value": {
                      "id": "gen-1749812456-xyz7890",
                      "object": "chat.completion",
                      "created": 1749812456,
                      "model": "anthropic/claude-opus-4.8",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "stop",
                          "message": {
                            "role": "assistant",
                            "content": "Attention lets a model dynamically weight its inputs and focus on the most relevant information.",
                            "refusal": null,
                            "reasoning": null
                          }
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 18,
                        "completion_tokens": 32,
                        "total_tokens": 50
                      }
                    }
                  },
                  "promptCache": {
                    "summary": "Non-streaming, prompt cache hit",
                    "value": {
                      "id": "gen-1749812999-cache01",
                      "object": "chat.completion",
                      "created": 1749812999,
                      "model": "anthropic/claude-sonnet-4.6",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "stop",
                          "message": {
                            "role": "assistant",
                            "content": "Per the manual, 7-day no-reason returns are supported.",
                            "refusal": null,
                            "reasoning": null
                          }
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 2106,
                        "completion_tokens": 18,
                        "total_tokens": 2124,
                        "prompt_tokens_details": {
                          "cached_tokens": 2048
                        }
                      }
                    }
                  },
                  "withSearch": {
                    "summary": "Non-streaming, with built-in search",
                    "value": {
                      "id": "gen-1749812345-abcd1234",
                      "object": "chat.completion",
                      "created": 1749812345,
                      "model": "anthropic/claude-sonnet-4.6",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "stop",
                          "message": {
                            "role": "assistant",
                            "content": "OpenRouter is a unified platform aggregating multiple LLM providers behind one API.",
                            "refusal": null,
                            "reasoning": null,
                            "annotations": [
                              {
                                "type": "url_citation",
                                "url_citation": {
                                  "url": "https://openrouter.ai/docs",
                                  "title": "OpenRouter Documentation",
                                  "start_index": 0,
                                  "end_index": 31
                                }
                              }
                            ]
                          }
                        }
                      ],
                      "search_results": [
                        {
                          "query": "What is OpenRouter AI",
                          "results": [
                            {
                              "title": "OpenRouter Documentation",
                              "url": "https://openrouter.ai/docs",
                              "highlights": "OpenRouter provides a unified API for multiple LLM providers",
                              "authors": "OpenRouter",
                              "time_published": "2024-11-02T00:00:00Z",
                              "time_last_crawled": "2025-01-10T12:30:00Z"
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "num_search_queries": 1,
                        "prompt_tokens": 1058,
                        "completion_tokens": 132,
                        "total_tokens": 1190
                      }
                    }
                  },
                  "toolCall": {
                    "summary": "Non-streaming, custom function call",
                    "value": {
                      "id": "gen-1749812800-tool0001",
                      "object": "chat.completion",
                      "created": 1749812800,
                      "model": "openai/gpt-5.5",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "tool_calls",
                          "message": {
                            "role": "assistant",
                            "content": null,
                            "tool_calls": [
                              {
                                "id": "call_abc123",
                                "type": "function",
                                "function": {
                                  "name": "create_reminder",
                                  "arguments": "{\"content\": \"Rain in Shanghai tomorrow, bring an umbrella\", \"time\": \"2026-06-11T08:00:00+08:00\"}"
                                }
                              }
                            ],
                            "refusal": null,
                            "reasoning": null
                          }
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 230,
                        "completion_tokens": 45,
                        "total_tokens": 275
                      }
                    }
                  },
                  "streamSearchDone": {
                    "summary": "Streaming, search_done chunk",
                    "value": {
                      "type": "search_done",
                      "id": "20260318143837845RJQ9P28ZEC",
                      "object": "chat.completion.chunk",
                      "created": 1773844717,
                      "model": "anthropic/claude-opus-4.6",
                      "search_results": [
                        {
                          "query": "weather Beijing today",
                          "results": [
                            {
                              "title": "Beijing Weather",
                              "url": "https://weather.com/beijing",
                              "highlights": "Partly cloudy, high of 32C",
                              "authors": "weather.com",
                              "time_published": "2026-06-10T00:00:00Z",
                              "time_last_crawled": "2026-06-10T06:00:00Z"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "streamContent": {
                    "summary": "Streaming, content chunk",
                    "value": {
                      "type": "content",
                      "id": "gen-1749812600-stream001",
                      "object": "chat.completion.chunk",
                      "created": 1749812600,
                      "model": "openai/gpt-5.4",
                      "choices": [
                        {
                          "index": 0,
                          "delta": {
                            "role": "assistant",
                            "content": "OpenRouter is "
                          },
                          "finish_reason": null
                        }
                      ]
                    }
                  },
                  "streamFinish": {
                    "summary": "Streaming, finish chunk",
                    "value": {
                      "type": "finish",
                      "id": "gen-1749812600-stream001",
                      "object": "chat.completion.chunk",
                      "created": 1749812600,
                      "model": "openai/gpt-5.4",
                      "choices": [
                        {
                          "index": 0,
                          "delta": {},
                          "finish_reason": "stop"
                        }
                      ]
                    }
                  },
                  "streamUsage": {
                    "summary": "Streaming, usage chunk",
                    "value": {
                      "type": "usage",
                      "id": "20260318143837845RJQ9P28ZEC",
                      "object": "chat.completion.chunk",
                      "created": 1773844727,
                      "model": "anthropic/claude-opus-4.6",
                      "usage": {
                        "num_search_queries": 2,
                        "full_content_extra_count": 5,
                        "prompt_tokens": 1841,
                        "completion_tokens": 638,
                        "total_tokens": 2479,
                        "completion_tokens_details": {
                          "reasoning_tokens": 30
                        }
                      }
                    }
                  },
                  "refusal": {
                    "summary": "Safety refusal",
                    "value": {
                      "id": "gen-1749812700-refusal",
                      "object": "chat.completion",
                      "created": 1749812700,
                      "model": "openai/gpt-5.4",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "stop",
                          "message": {
                            "role": "assistant",
                            "content": null,
                            "refusal": "I can't help with that request.",
                            "reasoning": null
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "Missing or invalid parameter",
                    "type": "invalid_request_error",
                    "param": null,
                    "code": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "Invalid API Key",
                    "type": "authentication_error",
                    "param": null,
                    "code": null
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient balance in account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "Insufficient balance in account",
                    "type": "permission_error",
                    "param": null,
                    "code": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model or resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "Model or resource not found",
                    "type": "not_found_error",
                    "param": null,
                    "code": null
                  }
                }
              }
            }
          },
          "429": {
            "description": "Exceeding the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "Exceeding the rate limit",
                    "type": "rate_limit_error",
                    "param": null,
                    "code": null
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIErrorResponse"
                },
                "example": {
                  "error": {
                    "message": "Internal error",
                    "type": "api_error",
                    "param": null,
                    "code": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/answer": {
      "post": {
        "summary": "Answer",
        "description": "Automatically decomposes user messages into multiple sub-queries, performs searches, and synthesizes results using an LLM.",
        "operationId": "answer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic Answer",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Latest trends and major players in the global AI chip market in 2026"
                      }
                    ],
                    "max_queries": 5,
                    "stream": false,
                    "web_search_options": {
                      "count": 10,
                      "highlight": {
                        "enable": true,
                        "max_tokens": 300
                      },
                      "full_content": {
                        "enable": true,
                        "max_tokens": 2048
                      }
                    }
                  }
                },
                "queriesOnly": {
                  "summary": "Queries Only Mode",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What are the latest developments in quantum computing?"
                      }
                    ],
                    "mode": "queries_only",
                    "max_queries": 10
                  }
                },
                "queriesAndSearch": {
                  "summary": "Queries and Search Mode",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Compare Tesla and BYD electric vehicle sales in 2026"
                      }
                    ],
                    "mode": "queries_and_search",
                    "max_queries": 8,
                    "web_search_options": {
                      "count": 5,
                      "highlight": {
                        "enable": true,
                        "max_tokens": 300
                      }
                    }
                  }
                },
                "multiTurn": {
                  "summary": "Multi-turn Conversation",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Who are the major players in the current chip market?"
                      },
                      {
                        "role": "assistant",
                        "content": "Major players include NVIDIA, AMD, Intel, Broadcom, Google, Amazon, etc."
                      },
                      {
                        "role": "user",
                        "content": "What are their latest developments?"
                      }
                    ],
                    "max_queries": 10,
                    "stream": false
                  }
                },
                "withDomainFilter": {
                  "summary": "With Domain and Time Filters",
                  "value": {
                    "model": "anthropic/claude-sonnet-4.6",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Latest central bank interest rate decisions globally"
                      }
                    ],
                    "max_queries": 15,
                    "stream": false,
                    "web_search_options": {
                      "count": 10,
                      "include_domains": [
                        "reuters.com"
                      ],
                      "exclude_domains": [
                        "medium.com"
                      ],
                      "include_text": [
                        "interest rate",
                        "central bank"
                      ],
                      "exclude_text": [
                        "opinion",
                        "rumor"
                      ],
                      "time_basis": "published",
                      "start_time": "2025-01-01T00:00:00Z",
                      "end_time": "2025-01-31T23:59:59Z",
                      "highlight": {
                        "enable": true,
                        "max_tokens": 300
                      },
                      "format": "markdown",
                      "safesearch": "strict",
                      "full_content": {
                        "enable": true,
                        "max_tokens": 2048
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Answer response. When `stream=false`, returns a single `chat.completion` object with `queries` and `search_results` at the top level. When `stream=true`, returns a stream of `chat.completion.chunk` objects with types: `queries` (generated sub-queries), `search_done` (search results), `content` (incremental content), `finish` (completion signal), and `usage` (token usage).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AnswerResponse"
                    },
                    {
                      "$ref": "#/components/schemas/AnswerChunk"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "object",
                    "mapping": {
                      "chat.completion": "#/components/schemas/AnswerResponse",
                      "chat.completion.chunk": "#/components/schemas/AnswerChunk"
                    }
                  }
                },
                "examples": {
                  "nonStreaming": {
                    "summary": "Non-streaming response (chat.completion)",
                    "value": {
                      "request_id": "20260403120000001ABCDE12345",
                      "object": "chat.completion",
                      "created": 1775361600,
                      "model": "anthropic/claude-sonnet-4.6",
                      "choices": [
                        {
                          "index": 0,
                          "finish_reason": "stop",
                          "message": {
                            "role": "assistant",
                            "content": "## Global AI Chip Market in 2026: Latest Trends & Major Players\n\n**The AI chip market was valued at approximately $102.9 billion in 2025, and is projected to grow at a 29.4% CAGR to $1.35 trillion by 2035.** NVIDIA continues to dominate with over 80% data center market share, but the custom ASIC chip wave is accelerating challenges to its position.[^1][^6]\n\n### Major Players Overview\n\n| Company | Core Strength | Key 2026 Developments |\n|---|---|---|\n| **NVIDIA** | Data center GPU, >80% market share | Blackwell/Rubin roadmap, $1T revenue target |\n| **Broadcom** | Custom ASIC chips | Expected to capture 60% of custom AI chip market by 2027 |\n| **AMD** | GPU alternative | MI450 chip volume ramp in H2, OpenAI/Meta large orders |\n| **Intel** | CPU + foundry | Gaudi 3 launch, Xeon 6 selected for Nvidia DGX systems |\n| **Google** | In-house TPU (Ironwood) | Surging HBM demand |\n| **Amazon AWS** | Trainium series | Anthropic training Claude on over 1M Trainium2 chips |"
                          }
                        }
                      ],
                      "queries": [
                        "2026 global AI chip market trends",
                        "AI chip market share 2026",
                        "top AI chip manufacturers 2026",
                        "NVIDIA AI chip dominance 2026",
                        "AMD AI chip strategy 2026"
                      ],
                      "search_results": [
                        {
                          "query": "2026 global AI chip market trends",
                          "results": [
                            {
                              "title": "AI Chip Market Size to Exceed USD 1354.35 Billion by 2035",
                              "url": "http://globenewswire.com/news-release/2026/04/01/...",
                              "highlight": "According to the SNS Insider, The AI Chip Market Size was valued at USD 102.89 Billion in 2025 and is expected to reach USD 1354.35 Billion by 2035...",
                              "full_content": "",
                              "authors": "SNS Insider pvt ltd",
                              "time_published": "2026-04-01T07:30:00Z",
                              "time_last_crawled": "2026-04-02T03:18:46Z"
                            }
                          ],
                          "latency": 69
                        },
                        {
                          "query": "AI chip market share 2026",
                          "results": [
                            {
                              "title": "Another result title...",
                              "url": "https://example.com/...",
                              "highlight": "...",
                              "full_content": "",
                              "authors": "...",
                              "time_published": "2026-03-28T00:00:00Z",
                              "time_last_crawled": "2026-03-29T12:00:00Z"
                            }
                          ],
                          "latency": 72
                        }
                      ],
                      "meta": {
                        "usage": {
                          "num_search_queries": 20,
                          "prompt_tokens": 35351,
                          "completion_tokens": 942,
                          "total_tokens": 36293
                        },
                        "latency": 24048
                      }
                    }
                  },
                  "streamQueries": {
                    "summary": "Streaming chunk — queries (type: queries)",
                    "value": {
                      "type": "queries",
                      "request_id": "20260403120000002XYZAB67890",
                      "object": "chat.completion.chunk",
                      "created": 1775361600,
                      "model": "anthropic/claude-sonnet-4.6",
                      "queries": [
                        "latest quantum computing developments 2026",
                        "quantum computing breakthroughs 2026"
                      ]
                    }
                  },
                  "streamSearchDone": {
                    "summary": "Streaming chunk — search results (type: search_done)",
                    "value": {
                      "type": "search_done",
                      "request_id": "20260403120000002XYZAB67890",
                      "object": "chat.completion.chunk",
                      "created": 1775361600,
                      "model": "anthropic/claude-sonnet-4.6",
                      "search_results": [
                        {
                          "query": "latest quantum computing developments 2026",
                          "results": [
                            {
                              "title": "Stocks to Gain From Quantum Computing in 2025",
                              "url": "https://www.nasdaq.com/articles/...",
                              "highlight": "This year has seen quantum computing being pushed from lab interests toward practical deployments...",
                              "full_content": "",
                              "authors": "",
                              "time_published": "2026-03-15T00:00:00Z",
                              "time_last_crawled": "2026-03-16T12:00:00Z"
                            }
                          ],
                          "latency": 65
                        }
                      ]
                    }
                  },
                  "streamContent": {
                    "summary": "Streaming chunk — content (type: content)",
                    "value": {
                      "type": "content",
                      "request_id": "20260403120000002XYZAB67890",
                      "object": "chat.completion.chunk",
                      "created": 1775361600,
                      "model": "anthropic/claude-sonnet-4.6",
                      "choices": [
                        {
                          "index": 0,
                          "delta": {
                            "content": "**Quantum computing"
                          },
                          "finish_reason": null
                        }
                      ]
                    }
                  },
                  "streamFinish": {
                    "summary": "Streaming chunk — finish (type: finish)",
                    "value": {
                      "type": "finish",
                      "request_id": "20260403120000002XYZAB67890",
                      "object": "chat.completion.chunk",
                      "created": 1775361600,
                      "model": "anthropic/claude-sonnet-4.6",
                      "choices": [
                        {
                          "index": 0,
                          "delta": {},
                          "finish_reason": "stop"
                        }
                      ]
                    }
                  },
                  "streamUsage": {
                    "summary": "Streaming chunk — usage (type: usage)",
                    "value": {
                      "type": "usage",
                      "request_id": "20260403120000002XYZAB67890",
                      "object": "chat.completion.chunk",
                      "created": 1775361600,
                      "model": "anthropic/claude-sonnet-4.6",
                      "meta": {
                        "usage": {
                          "num_search_queries": 2,
                          "prompt_tokens": 2664,
                          "completion_tokens": 78,
                          "total_tokens": 2742
                        },
                        "latency": 3565
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing parameter messages — Returned when a required parameter is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "msg": "Missing parameter messages",
                  "request_id": "req_abc123def456"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
[...]
